---
const { title = "Mi Manual Técnico" } = Astro.props;
import Header from "../Components/header.astro";
import "../styles/global.css"
---
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{title} | Manual Tecnico</title>

    <style is:global>
        @import "../styles/global.css";
    </style>
</head>
<body class="bg-[#ede4ff] m-4">
    
    <Header />

        <slot />
</body>
</html>
